---
interface Props {
  image: string;
  to: string;
}
const { image, to } = Astro.props;
---

<a class="rounded-minimum hover:scale-125 transition-transform w-12 h-12" href={to}>
  <img class="h-full w-full object-cover rounded-minimum" src={image} alt="" />
</a>
