<aside class="flex justify-end items-center w-1/2">
    <div class="p-[.5%] rounded-normal h-auto bg-gradient-to-t w-4/6 from-secondary to-transparent via-contrast/20">
        <img class="h-full rounded-normal" src="/Images/perfil-pic-min.jpg" alt="">
    </div>
</aside>


<style>
	aside {
		height: calc(100vh - 5rem);
	}
</style>