---
import { makeTitle } from "../Constants/Services";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/General/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions transition:animate="slide" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{makeTitle(title)}</title>
  </head>
  <body class="bg-primaryGradient flex items-center flex-col justify-start">
    <Header />
    <div/>
    <slot class="flex items-start justify-start" />
  </body>
</html>

<style>
  div {
  width: 10px;
  height: 10px;
  box-shadow: 0 0 50px white;
  border-radius: 50%;
  } 
</style>